body{
    margin: 0;
    padding: 0%;
    min-height: 100vh;
}
.gen{
    height: 100vh;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color:floralwhite;
    display: flex;
    justify-content: space-between;
}
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 18%;
    background-color: #2B2D42;
    border-right: 1px solid;
}
nav ul {
    width: 70%;
    height: 50%;
    padding: 0%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
nav ul::after {
    content: '';
    display: block;
    height: 2px;
    border-top: 2px solid;
    border-color: slategrey;
}
nav ul li {
    margin: 0%;
    height: 15%;
    text-align: center;
    border-top: 2px solid;
    border-color: slategrey;
    display: flex;
}
nav ul li a {
    display: block;
    margin: auto;
}
.menucontent {
    text-decoration: none;
    color: white;
    font-size: large;
}
.menucontent:hover{
    color: #99abcb;
}
.footnav {
    font-size: small;
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 4%;
}
.sep{
    width: 30%;
}
.page{
    position: relative right;
    overflow: auto;
    width: 75%;
    min-height: 100vh;
    margin-left: 25%;
    box-shadow: 4px -5px 11px 1px rgba(0,0,0,0.71);
    -webkit-box-shadow: 4px -5px 11px 1px rgba(0,0,0,0.71);
    -moz-box-shadow: 4px -5px 11px 1px rgba(0,0,0,0.71);
    text-align: center;
    background: url("forest.png")no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}
.b{
    margin-top: 8%;
}
.b p {
    margin-left: 15%;
    margin-right: 15%;
}
.menucontent{
    margin: auto;
}
.page h1 {
    font-size: xx-large;
}
figcaption{
    font-style: italic;
    font-weight: normal;
    font-size: small;
}
.one{
    float: left;
}
.onedescription{
    margin-right: 10%;
}
.b1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#download {
    float: middle;
    vertical-align:text-bottom;
}
#link_tuto{
    color: white;
    background-color: transparent;
}
.b1 a{
    margin-top: 3%;
    background-color: #2B2D42;
    width: 10%;
    align-self: center;
    padding: 0%;
}
.b1 a{
    border-radius: 10px;
}
.b1 input{
    border-radius: 10px;
    font-size: larger;
    padding: 5px;
    width: 100%;
    border: solid 0px;
    background-color: #0FA958;
    cursor:pointer;
    box-shadow: 8px 10px 5px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 10px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 10px 5px -5px rgba(0,0,0,0.75);
    transition: 0.2s;
}
.b1 input:hover{
    box-shadow: 0px -4px 5px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -4px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 5px -5px rgba(0,0,0,0.75);
    text-decoration:underline;
    transition: 0.5s;
}
.b1 input:active{
    transition: 0.5s;
    background-color: #0dd66c;
}
#ouverture {
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    align-self: center;
    border-radius: 10px;
}
#ouverture figure{
    float: left;
}
#ouverture p{
    text-align: left;
    margin-left: 56%;
    margin-right: 5%;
}
#recherche {
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    align-self: center;
    border-radius: 10px;
}
#recherche figure{
    float: left;
}
#recherche p{
    text-align: left;
}
#recherche .fl{
    clear: both;
    margin-left: 3%;
}
#detail {
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 5%;
    padding-bottom: 2%;
}
#detail p{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}
